<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/Taste Tracker Style.css">
        <title>Taste Tracker Credits Page</title>
    </head>
    <body>
        <hr>
        <div class="outerBorder">
            <div class="innerBorder">
                <h1>Heres Who To Thank!</h1>
                <hr>
                <a href="/">Back To Home Page</a>
            </div>
        </div>
        <hr>
        <div class="outerBorder">
            <div class="innerBorder">
                <h2>Credits:</h2>
                <br>
            </div>
        </div>
        <hr>
    </body>
</html>