<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/Taste Tracker Style.css">
        <title>Taste Tracker Home Page</title>
    </head>
    <body>
        <hr>
        <div class="outerBorder">
            <div class="innerBorder">
                <h1>Welcome To Taste Tracker!</h1>
                <h2>View And Share Reviews About Restaurants <span id="outlined" style="color: red">A<span id="outlined" style="color: orange">L<span id="outlined" style="color: yellow">L <span id="outlined" style="color: green">A<span id="outlined" style="color: blue">C<span id="outlined" style="color: purple">R<span id="outlined" style="color: red">O<span id="outlined" style="color: orange">S<span id="outlined" style="color: yellow">S <span id="outlined" style="color: green">T<span id="outlined" style="color: blue">O<span id="outlined" style="color: purple">W<span id="outlined" style="color: red">N<span id="outlined" style="color: orange">!</h2>
            </div>
        </div>
        <hr>
        <div class="outerBorder">
            <div class="innerBorder">
                <h2>Navigate Taste Tracker:</h2>
                <br>
                    <a href="/reviews">Reviews Page</a>
                    <a href="/credits">Credits Page</a>
                <hr>
                <h1>OR</h1>
                <hr>
            </div>
        </div>
        <hr>
    </body>
</html>