body {
    background-color: orangered;
    text-align: center;
}
h1 {
    color: white;
    font-size: 50px;
}
h2 {
    color:white;
    font-size: 35px;
}
a {
    color: orange;
    background-color: white;
    margin: 2px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
}
hr {
    color: white;
    margin: 10px;
    border: 2px solid orange;
    padding: 2px;
}
#outlined {
    -webkit-text-stroke: 1px white;
}
#invalidLogIn {
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
}
.outerBorder {
    margin: 20px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 2px;
}
.innerBorder {
    border: 2px solid white;
    border-radius: 48px;
    padding: 10px;
}
.review {
    color: orange;
    background-color: white;
    margin: 2px;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 10px;
}